html, body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	color: #444;
}

.page-header {
	padding-bottom: 0px;
	margin: 15px 0 10px;
}

#menu {
	margin-top: 0;
	margin-bottom: 10px;
}
#menu li {
	float: left;
	padding-left: 1px;
}
#menu li a {
	font-size: 16px;
	font-weight: bold;
//	color: #000;
	line-height: 50px;
	margin-left: 30px;
	display: block;
	text-decoration: none;
}
#menu li a:hover, #menu li .menu-active, .redcolor {
	color: #b90c0c;
}

#bio {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 30px;
	text-align: justify;
	text-justify: newspaper;
}

#news {
	font-size: 16px;
}

.pub-year {
	margin: 20px 0 20px;
	color: #b90c0c;
}

.pub-title {
	font-weight: bold;
}
.pub-author {
	
}
.pub-conf {
	font-style: italic;
}

/* Common styles for all types */
.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}
.bs-callout h3 {
  margin-top: 0;
  margin-bottom: 5px;
}
.bs-callout p:last-child {
  margin-bottom: 0;
}
.bs-callout code {
  border-radius: 3px;
}
/* Tighten up space between multiple callouts */
.bs-callout + .bs-callout {
  margin-top: -5px;
}
/* Variations */
.bs-callout-danger {
  border-left-color: #ce4844;
}
.bs-callout-danger h3 {
  color: #ce4844;
}
.bs-callout-warning {
  border-left-color: #aa6708;
}
.bs-callout-warning h3 {
  color: #aa6708;
}
.bs-callout-info {
//  border-left-color: #1b809e;
//	border-left-color: #337ab7;
}
.bs-callout-info h3 {
//  color: #1b809e;
//	color: #337ab7;
	color: #b90c0c;
}

.title {
	font-size: 48px;
}
.subtitle {
	float: left;
	font-size: 16px;
}

.subheader {
	margin-top: 5px;
	margin-bottom: 25px;
}

.research-item {
	margin-top: 30px;
	margin-bottom: 30px;
}

.research-item .media .media-body p {
	margin-left: 20px;
}


